@import '../../../shared/sass/_variables.scss';

div.container-background{
  width: 100%;
}

.container-card{
  position: relative;
  display: inline-block;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px;
  margin-bottom: 100px;
  .addSchedule{
    background-color: #1dd1a1;
    color: white;
    margin-right: 10px;
  }
  .signOut{
    float: right;
    clear: both;
    background-color: $red;
    color: white;
  }
  .container-routines{
    margin-top: 40px;
    .routine-alert{
      font-size: 30px;
      color: #3c3c3c;
      font-weight: bold;
      line-height: 30px;
      & *{
        vertical-align: middle;
      }
      .icon{
        margin-left: 15px;
        height: 30px;
      }
    }
    mat-card.card-routine{
      display: grid;
      grid-template:
      'restaurant meals'
      'days days';
      grid-gap: 20px;
      position: relative;
      cursor: pointer;
      border-left-color: #07b8decc;
      border-left-width: 5px;
      border-left-style: solid;
      &:not(:first-child){
        margin-top: 20px;
      }

      .line-card{
        &.meals-info{
          grid-area: meals;
        }
        &.restaurant-info{
          grid-area: restaurant;
        }
        &.days-info, &.ban-info{
          grid-area: days;
        }
        .title *{
          display: inline-block;
          vertical-align: middle;
          font-weight: bold;
          font-size: 18px;
          color: $deepBlack;
          margin-right: 10px;
        }
        .values{
          font-weight: 600;
          font-size: 15px;
          color: $deepBlack;
        }
      }
    }
    mat-card.card-ban{
      display: block;
      position: relative;
      cursor: pointer;
      border-left-color: $red;
      border-left-width: 5px;
      border-left-style: solid;
      &:not(:first-child){
        margin-top: 20px;
      }

      .line-card{
        &:first-child{
          margin-bottom: 20px;
        }

        .ban-info{
          font-size: 16px;
          font-weight: bold;
        }

        .title *{
          display: inline-block;
          vertical-align: middle;
          font-weight: bold;
          font-size: 16px;
          color: $deepBlack;
          margin-right: 10px;
        }
        .values{
          font-weight: 600;
          font-size: 15px;
          color: $deepBlack;
        }
      }
    }
  }
}
