@import '../../../shared/sass/_variables.scss';

div.container-background{
  background: #00B4DB;
  background: -webkit-linear-gradient(to right, #00B4DB, #3cdafc);
  background: linear-gradient(to right, #00B4DB, #3cdafc);
  width: 100%;
  min-height: 100vh;
}

.container-card{
  position: relative;
  margin-top: 80px;
  display: inline-block;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px;
  .addSchedule{
    background-color: #1dd1a1;
    color: white;
  }
  .container-routines{
    margin-top: 40px;
    .routine-alert{
      font-size: 30px;
      color: #3c3c3c;
      font-weight: bold;
      line-height: 30px;
      & *{
        vertical-align: middle;
      }
      .icon{
        margin-left: 15px;
        height: 30px;
      }
    }
  }
}
