<div mat-dialog-content perfectScrollbar>
  <p class="welcome-intro">Olá, aqui estão algumas informações importantes:</p>
  <div class="list-items"><mat-icon svgIcon="checkbox-marked-circle-outline"></mat-icon><span>Uma vez que você configurar sua rotina, não precisa mais se preocupar.
  Os agendamentos serão feitos automaticamente para você. Caso não queira mais usar o sistema apenas delete suas rotinas.</span></div>
  <div class="list-items"><mat-icon svgIcon="checkbox-marked-circle-outline"></mat-icon><span>Caso você mude sua senha no Portal do Aluno precisará fazer o Logout e Login novamente por aqui.</span></div>
  <div class="list-items"><mat-icon svgIcon="checkbox-marked-circle-outline"></mat-icon><span>Seja responsável e configure apenas os dias que você tem certeza que estará na UFSM.</span></div>
  <div class="list-items"><mat-icon svgIcon="checkbox-marked-circle-outline"></mat-icon><span>Este sistema é construido sobre o Portal do Aluno, então todos os agendamentos feitos
    serão visiveis por lá. Qualquer outra operação de cancelamento ou algo do genero deve ser feito no Portal do Aluno.</span></div>
  <div class="list-items"><mat-icon svgIcon="checkbox-marked-circle-outline"></mat-icon><span>Sua senha ficará salva no banco de dados entretanto ninguém consegue acessala, além do Administrador.
    A senha fica criptografada, mas o Admin tem a chave. O ideal é que você não use senhas que sejam as mesmas de outras contas,
    dessa forma você não precisa se preocupar.</span></div>
</div>
<div mat-dialog-actions>
  <button mat-button class="btn-blue" mat-dialog-close cdkFocusInitial>Entendi</button>
</div>
