@import '../../../../shared/sass/_variables.scss';

h1.mat-dialog-title{
  font-weight: bold;
  font-size: 30px;
  color: $deepBlack;
  & *{
    display: inline-block;
    vertical-align: middle;
  }
}

.verticalAlign{
  & *{
    display: inline-block;
    vertical-align: middle;
  }
  & span{
    margin-left: 10px;
  }
}

.mat-dialog-content{//This removes the laggy experience on Chrome mobile
  will-change: transform, opacity;
}

div.mat-dialog-content{
  height: auto;
  position: relative;
  .routine-contanier{
    margin-bottom: 20px;
  }
  .grid-select{
    display: grid;
    grid-template:  'dias refeicoes';
  }
  .refeicoes-container{
    grid-area: refeicoes;
  }
  .dias-container{
    grid-area: dias;
  }
  .title-container{
    font-size: 18px;
    font-weight: 700;
    color: $deepBlack;
    margin-bottom: 20px;
    & *{
      vertical-align: middle;
      display: inline-block;
    }
  }
}
div.btns-actions{
  margin-top: 50px;
  & .mat-button:not(:first-child){
    margin-left: 10px;
  }
  .btn-red{
    background-color: $red;
    color: white;
    font-weight: bold;
  }
  .btn-blue{
    background-color: $blue;
    color: white;
    font-weight: bold;
  }
}


@media(max-width: 800px){
  div.btns-actions{
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 10px;
    grid-row: repeat(4, auto);
    & .mat-button{
      margin-left: 0px !important;
    }
  }
}
