$font-family-sans-serif: "Roboto", sans-serif;

//Theme
$primary: #3880ff;
$secondary: #0cd1e8;

//Colors
$deepBlue: #1d003f;//Sidenav color
$deepBlack: #252525;
$red: #eb0835;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
