<h1 mat-dialog-title>Termo de Consentimento</h1>
<div mat-dialog-content perfectScrollbar>
  <p>Para realizar os agendamentos através do UFSMBot e manter controle de quem utiliza
    esta ferramenta precisamos de algumas informações. Essas informações são obtidas
    através do portal do aluno e precisamos do seu consentimento para manipulá-las.
    Caso você mude de ideia depois é possível deletar todas as suas
    informações do banco de dados.</p>
  <h3>Informações que são utilizadas: </h3>
  <div class="list-items">
    <mat-icon svgIcon="checkbox-marked-circle-outline"></mat-icon>
    <span><span class="bold">Nome e Curso:</span> Utilizados para identificar cada usuário.</span>
  </div>
  <div class="list-items">
    <mat-icon svgIcon="checkbox-marked-circle-outline"></mat-icon>
    <span><span class="bold">Histórico de agendamentos e refeições:</span> Utilizados para aplicar punições aos que utilizam o UFSMBot e não comparecem aos agendamentos.</span>
  </div>
  <div class="list-items">
    <mat-icon svgIcon="checkbox-marked-circle-outline"></mat-icon>
    <span><span class="bold">Senha e Matrícula:</span> Utilizados para que os agendamentos sejam efetivamente realizados em seu nome.
    A senha é criptografada quando salva no banco de dados. A orientação geral é que a senha do Portal do Aluno não senha a mesma de senhas de serviços como contas pessoais Google.</span>
  </div>
  <div class="list-items">
    <mat-icon svgIcon="checkbox-marked-circle-outline"></mat-icon>
    <span><span class="bold">E-mail:</span> Utilizados para comunicação.</span>
  </div>
</div>
<div mat-dialog-actions class="btn-actions">
  <button mat-raised-button class="btn-blue" (click)="acceptAgreement()">Concordo</button>
  <button mat-raised-button class="btn-red" (click)="declineAgreement()">Não concordo</button>
</div>
