@import '../../../../shared/sass/_variables.scss';

h1.mat-dialog-title{
  font-weight: bold;
  font-size: 30px;
}

div.mat-dialog-content{
  height: auto;
  .title-link{
    font-weight: bold;
  }
  .link{
    text-decoration: none;
    margin-left: 10px;
    font-weight: bold;
    color: #00c6ff;
  }
}

div.mat-dialog-actions{
  & button{
    color: white;
    font-weight: bold;
  }
  .btn-blue{
    background-color: $blue !important;
  }
  .btn-red{
    background-color: $red !important;
  }
}

div.list-items{
  font-weight: bold;
  font-size: 18px;
  color: $deepBlack;
  display: block;
  // word-break: break-all;
  & *{
    vertical-align: middle;
  }
  &:not(:first-child){
    margin-top: 20px;
  }
  mat-icon{
    margin-right: 5px;
    color: $green;
  }
}

@media(max-width: 800px){
  div.mat-dialog-content{
    will-change: transform, opacity;
  }
}
