@import '../../../../shared/sass/variables.scss';
#signin-container{
  position: relative;
  background-color: white;
  padding: 60px 0 40px 0;
  width: 30%;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
  .title{
    position: relative;
    z-index: 1;
    border-left: 5px solid $primary;
    margin: 0 0 35px;
    padding: 10px 0 10px 50px;
    color: $primary;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
  }
  .wrap-inputs{
    padding: 0 3em;
    font-size: 20px;
    align-items: center;
    mat-form-field{
      width: 100%;
    }
    mat-icon{
      cursor: pointer;
    }
    .btnEntrar{
      outline: 0;
      cursor: pointer;
      position: relative;
      display: inline-block;
      color: #999;
      background: 0;
      width: 100%;
      border: 2px solid #999999;
      padding: 20px 0;
      font-size: 24px;
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;
      overflow: hidden;
      transition: .3s ease;
      &:hover{
        border-color: $primary;
        color: $primary;
      }
      span{
        z-index: 999;
        position: relative;
      }
    }
    .vertical-align *{
      display: inline-block;
      vertical-align: middle;
    }
    .made-with{
      text-align: center;
    }
    .heart{
      color: $red;
      margin: 0 5px;
    }
    .bold-text{
      font-weight: bold;
    }
  }
}

@media (max-width: 800px) {
  #signin-container {
    width: 50%;
  }
}

@media (max-width: 600px) {
  #signin-container {
    width: 90%;
  }
}
