<mat-card id="signin-container">
  <span class="title">Entrar</span>
  <div class="wrap-inputs" fxLayout="column wrap" fxLayoutGap="20px">
    <span class="helper">* Entre com a matrícula e senha do Portal do Aluno</span>
    <ng-container *ngIf="!isSigningIn; else loadingAnimation">
      <mat-form-field>
        <input matInput placeholder="Matrícula" [(ngModel)]="login.matricula" autocomplete="off">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Senha" [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="login.password">
        <mat-icon matSuffix (click)="togglePassword()">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <button matRipple (click)="loginAttempt()" class="btnEntrar"><span>Entrar</span></button>
    </ng-container>
    <ng-template #loadingAnimation>
      <mat-spinner></mat-spinner>
    </ng-template>
  </div>
</mat-card>
