@import '~normalize.css/normalize.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import './app/shared/sass/variables';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import '~ngx-toastr/toastr.css';

body{
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  font-family: $font-family-sans-serif;
}
.toast-error{
  background-color: $red;
}
.toast-success{
  background-color: $green;
}

.full-width-dialog {
  max-width: 90vw !important;
  width: 90% !important;
}
